.navbar{
    height:170px;
    z-index: 100000;
}
.icon{
    width:250px;
    float:left;
    height:90 ;
}
.logo{
color: rgb(82, 20, 164);
text-shadow: 1px 1px rgb(150, 90, 229);
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-size: 50px;
float:left;
padding-left: 50px;
padding-top: 30px;
}
.menu{
   width:400px;
   float:left;
   height: 70px;
}
.menu-icon{
 
  display: none;
}
ul{
   float:left;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 150px;
}
ul li{
    list-style-type: none;
    font-weight: bold;
   margin-top: 150px;
   padding-left: 50px;
   padding-right: 30px;
}
ul li a{
    
    text-decoration-line: none;
    color: rgb(236, 230, 230);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    transition: 0.4s ease-in-out;
}
ul li a:hover{
    color: rgb(46, 3, 102);}
thead{
    background-color: blueviolet;
   
    
}
th{
    padding: 12px;
    color:white;
    text-align: left;
}
body{
    background-color: #fff;
    background-position: center;
    background-size: cover;
    height:auto;
    background:linear-gradient(rgba(8, 3, 21, 0.527), rgba(5, 2, 23, 0.5)),url('Background2.jpg');
    height: 150vh;
    background-size: cover;
    font-family: 'Roboto';
}
table{
    width:100%;
    margin: 4px;
}
th> button{
    -webkit-appearance: none;
    width: auto;
    min-width: 100px;
    border-radius: 24px;
    text-align: center;
    padding: 15px 40px;
    background-color: rgb(46, 3, 102);
    color: white;
    font-size: 14px;
    margin-left:auto;
    font-weight: 500;
    box-shadow: 0px 2px 6px -1px black;
    border: none;
    transition: all 0.3s ease;
    outline: 0
}

button:hover {
    transform: translateY(-3px);
    box-shadow: 0 2px 6px -1px rgba(182, 157, 230, .65);
  }
  button:hover:active {
    transform: scale(0.99);
  }
  @media only screen and (max-width:700px){
    .menu ul {
       width:100%;
       background-color: #999;
       position: absolute;
       z-index: 2;
       top: 75px;
       right:0;
       display:block;
       margin-top: 20px;
     }
     .menu ul li{
        
         margin-top: 9px;
         margin-bottom: 10px;
     }
     .menu ul li a{
      
         color: #fff;
        
     }
     .menu ul li a:hover{
         
        color: rgb(72, 0, 165);
       
    }
    .menu-icon{
        display: block;
        float:right;
        margin-top: 35px;
        margin-right: 20px;
        height: 50px;
        width:50px;
    }
    #menuList{
        overflow: hidden;
        transition: 0.5s;
    }
    .logo{
        font-size: 35px;
        padding-left: 0;
    }
    table{
        width:40%;
    }
    th{
        font-size: 11px;
    }
}
